.img {
    background: lightblue;
    border-radius: 50%;
    width: 150px;
    height: 250px;
    text-align: center;
}
.t{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
}
